@charset "utf-8";
/*
此为文字样式css，目前此样式汉字的兼容性不太好
主要用于平片假名，标题等
所以汉字多的时候使用---font_moji.css(比如说明，长的文字，表单)
*/
@font-face {
    font-family: 'Pomeranian-Regular';
    /*path*/
    src: url('/static/font/Pomeranian-Regular.ttf') format('opentype'),
    url('/static/font/Pomeranian-Regular.ttf') format('truetype');
    /*font-weight: normal;*/
    /*font-style: normal;*/
}
/*以下两个为事例*/
h1.neuesDemo {/*h1标签并且class为neuesDemo的都会应用上*/
    font-family: 'Pomeranian-Regular', serif;/*指定字体也就是上方字体名*/
    font-size: 10vm;/*指定字体大小*/
    color: darkgray;/*指定字体颜色*/
}
#navigation.under_line{
    /*text-decoration: none;!*去下划线*!*/
    color: #000000;/*设置为背景颜色，也就是无色*/
    font-family: 'Pomeranian-Regular', serif;
    font-size: 1vw;
    align-content: flex-end;
}
/*以上两个为事例*/
#menu{
    font-family: 'Pomeranian-Regular', serif;
    font-size: 2.5vw;
}
#header_under {
    font-family: 'Pomeranian-Regular', serif;
    font-size: 30px;
}
