@charset "utf-8";
#member_title {
    color: #333333;
    text-align: center;
    margin: 8px auto;
    display: block;
}
.group img{
    box-shadow: 2px 2px 2px #ffaa33;
    border: 5px solid #6a6f77;/*border变化有效果*/
    width: 200px;
    height: 200px;
    background-size: cover;
    text-align: center;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 1em auto;

}
.group h3 {
    text-align: center;
    display: block;
    margin: 1em auto;
}
.group span {
    text-align: center;
    display: block;
    margin: 1em auto;
}



